<div class="content">
  <div class="meta">
    <div class="breadcrumbs">
      {{link-to "Каталог" 'products' class='crumb'}}
    </div>

    <div class="search">
      <input type="text" name="search" placeholder="Что вы ищете?">
      <img src="/icons/search.png" alt="Найти">
    </div>

    <div class="filters">
      <a href="" class="filter">Размер<img src="/icons/arrow.png" class="arrow"></a>
      <a href="" class="filter">Цвет<img src="/icons/arrow.png" class="arrow"></a>
    </div>

    <div class="sort">
      <p>Сортировать по: 
        {{#link-to 'products' (query-params sortBy="id")}}Популярности{{/link-to}}
        {{#link-to 'products' (query-params sortBy="price")}}Цене{{/link-to}}
        {{#link-to 'products' (query-params sortBy="name")}}Названию{{/link-to}}
        <!-- <a href="">Популярности</a>
        <a href="">Только со скидкой</a> -->
      </p>
    </div>
  </div>

  <div class="products">
    {{#each}}
      {{#link-to 'product' this class='product'}}
        <img {{bind-attr src=img}} alt="Блузка шелковая">
        <h2>{{name}}</h3>
        <h2>{{money price}} руб.</h2>
      {{/link-to}}
    {{/each}}
  </div>
</div>