<div class="page">
	<div class="text">
		<h1>Ошибка 404</h1>
		<h1>Не расстраивайтесь, на этой странице не было ничего интересного!</h1>
		{{link-to "Вернуться к каталогу" 'products' class='back'}}
	</div>
	<div class="illustration">
		<img src="/assets/images/image.png" alt="Ошибка 404">
	</div>
</div>