<div class="check_out address">
  <div class="info">
	  <h1>Куда доставлять заказ?</h1>
	  <p>Пожалуйста, введите адрес доставки:</p>
	  <div class="form">
	  	<div class="column">
		    <input type="text" placeholder="Имя">
		    <input type="text" placeholder="Телефон">
		    <input type="text" placeholder="Улица">
		    <input type="text" placeholder="Дом" class="house">
		    <input type="text" placeholder="Квартира / офис" class="flat">
		</div>
	    <textarea placeholder="Комментарий к заказу"></textarea>
	    <button {{action "update" this}}>Далее</button>
	  </div>
  </div>
</div>