{{#if asd}}
  <div class="meta">
    <div class="breadcrumbs">
      {{link-to "Каталог" 'products' class='crumbs'}} / 
      {{link-to "Корзина" 'cart' class='crumbs'}}
    </div>
  </div>

  <div class="my_cart"> 
    <h2>Мои покупки</h2> 
    <div class="cart_items">
      <div class="cart_item">
        <a href="" class="image">
          <img src="/assets/images/6.jpg" alt="Блузка шелковая">
        </a>
        <div class="description">
          <h4>Блузка шелковая</h4>
          <a href="" class="delete">
            ×
          </a>
          <div class="amount">
            <input type="text" placeholder="1">
            <span class="multiple">×</span>
            <div class="price">6150 руб.</div>
          </div>
        </div>
      </div>

      <div class="cart_item">
        <a href="" class="image">
          <img src="/assets/images/6.jpg" alt="Блузка шелковая">
        </a>
        <div class="description">
          <h4>Блузка шелковая</h4>
          <a href="" class="delete">
            ×
          </a>
          <div class="amount">
            <input type="text" placeholder="1">
            <span class="multiple">×</span>
            <div class="price">6150 руб.</div>
          </div>
        </div>
      </div>

      <div class="cart_item">
        <a href="" class="image">
          <img src="/assets/images/6.jpg" alt="Блузка шелковая">
        </a>
        <div class="description">
          <h4>Блузка шелковая</h4>
          <a href="" class="delete">
            ×
          </a>
          <div class="amount">
            <input type="text" placeholder="1">
            <span class="multiple">×</span>
            <div class="price">6150 руб.</div>
          </div>
        </div>
      </div>

      <div class="cart_item">
        <a href="" class="image">
          <img src="/assets/images/6.jpg" alt="Блузка шелковая">
        </a>
        <div class="description">
          <h4>Блузка шелковая</h4>
          <a href="" class="delete">
            ×
          </a>
          <div class="amount">
            <input type="text" placeholder="1">
            <span class="multiple">×</span>
            <div class="price">6150 руб.</div>
          </div>
        </div>
      </div>
    </div>

    <div class="total">
      <h4>Общая сумма заказа</h4>
      <h2>24600 <span class="currency">руб.</span></h2>
      <h4>+ стоимость доставки</h4>
      <input type="submit" value="Оформить">
    </div>
  </div>
{{else}}
  <div class="page">
    <div class="text">
      <h1>Где же ваши обновки?</h1>
      <h1>Обратите внимание на новинки нашего магазина</h1>
      {{link-to "Вернуться к каталогу" 'products' class='back'}}
    </div>
    <div class="illustration">
      <img src="/assets/images/image.png" alt="Ошибка 404">
    </div>
  </div>
{{/if}}