<div class="check_out">
	<div class="info">
		<h1>В какой город доставить заказ?</h1>
		<div class="city">
			<p>
				<a href="" class="main">Москва</a> <a href="" class="main">Санкт-Петербург</a>
			</p>
			<p>
				<a href="" clas="other">Екатеринбург</a> <a href="" clas="other">Ярославль</a> <a href=""clas="other">Кострома</a> <a href="" clas="other">Орел</a> <a href="" clas="other">Брянск</a> <a href="" clas="other">Вологда</a> <a href="" clas="other">Иваново</a> <a href="" clas="other">Владимир</a> <a href="" clas="other">Тверь</a> <a href=""clas="other">Тула</a> <a href="" clas="other">Тюмень</a> <a href="" clas="other">Калуга</a> <a href="" clas="other">Рязань</a> <a href="" clas="other">Ростов-на-Дону</a> <a href="" clas="other">Нижний Новгород</a>
			</p>
			<p class="put_the_name">Или введите название вручную:</p>
		 	<form class="form">
		 		<input type="text">
	    	<button {{action "update" this}}>Продолжить</button>
		 	</form>
		</div>
	</div>
</div>