<div class="page">
	<div class="text">
		<h1>Спасибо за заказ!</h1>
		<h1>В ближайшее время с вами свяжется наш менеджер.</h1>
		{{link-to "Вернуться к каталогу" 'products' class='back'}}
	</div>
	<div class="illustration">
		<img src="/assets/images/image.png" alt="Ошибка 404">
	</div>
</div>