<div class="meta">
  <div class="breadcrumbs">
    {{link-to "Каталог" 'products' class='crumbs'}} / 
    {{link-to "Доставка" 'cart' class='crumbs'}}
  </div>
</div>

<div class="page static">
	<h1>Способы доставки</h1>
	<div class="paragraph">
		<div class="icon">
		  <img src="/assets/images/shop.png" alt="Банковской картой на сайте">
		</div>
		<div class="about">
			<h2>Самовывоз</h2>
			<p>Стоимость: бесплатно</p>
			<p>Вы можете самостоятельно забрать ваш заказ в пункте выдачи, расположенном по адресу: ул. Амундсена, д.16/2, Москва. Время работы - с понедельника по пятницу в интервале с 10:00 до 19:00.</p>
		</div>
	</div>

	<div class="paragraph">
		<div class="icon">
		  <img src="/assets/images/delivery.png" alt="Наличными курьеру">
		</div>
		<div class="about">
			<h2>Курьер</h2>
			<p>Стоимость: 250 руб. - по Москве (в пределах МКАД), 350 руб. - по Московской области, бесплатно - при заказе от 10 000 руб.</p>
			<p>Курьерская доставка осуществляется на следующий день после оформления заказа в удобный для вас интервал времени.</p>
		</div>
	</div>

	<div class="paragraph">
		<div class="icon">
		  <img src="/assets/images/post.png" alt="Наложенным платежом">
		</div>
		<div class="about">
			<h2>Почта России</h2>
			<p>Стоимость: от 350 руб.</p>
			<p>Стоимость почтовой пересылки рассчитывается индивидуально, в зависимости от величины заказа и города доставки. Заказ формируется в течение 24 часов после оформления заказа. Длительность доставки зависит от оперативности работы почты.</p>
		</div>
	</div>

	{{link-to "Узнать о способах оплаты" 'payment' class='back'}}

</div>