<div class="check_out">
	<div class="info">
		<h1>Выберите способ доставки</h1>
		 <div class="introduction choose_type">
      <a href="" class="button">Курьер<span class="price">350 руб.</span></a>
      <a href="" class="button">Самовывоз<span class="price">бесплатно</span></a>
      <a href="" class="button">Почта России<span class="price">от 300 руб.</span></a>
    </div>
	</div>
</div>