<div class="check_out">
  <div class="info">
    <h1>Пожалуйста, представьтесь!</h1>
    <div class="introduction">
      <p>Вы можете остаться Гостем, но нам приятнее обращаться к вам по имени</p>
      <a href="" class="button">Я - постоянный клиент</a>
      <a href="" class="button">Я - новый клиент</a>
      <a href="" class="button">Останусь гостем</a>
    </div>
    <div class="introduction social">
      <p>Не хотите заполнять формы и запоминать лишние пароли?</p>
      <a href="" class="button">Войти через Facebook</a>
      <a href="" class="button">Войти через Вконтакте</a>
    </div>
  </div>
</div>