<div class="check_out">
	<div class="info">
	  <h1>Войти в магазин</h1>
	  <p>Введите ваши данные для входа в магазин.</p>
	  <div class="form">
	    <input type="text" placeholder="Email">
	    <input type="text" placeholder="Пароль">
	    <input type="submit" value="Войти">
	  </div>
  </div>
</div>