<div class="check_out">
	<div class="info">
	  <h1>Войти в магазин</h1>
	  <p>Введите ваши данные для входа в магазин.</p>
	  <form class="form">
	    <input type="text" placeholder="Email">
	    <input type="text" placeholder="Пароль">
	    <button {{action "update" this}}>Войти</button>
	  </form>
  </div>
</div>