<div class="meta">
    <div class="breadcrumbs">
      {{link-to "Каталог" 'products' class='crumbs'}} / 
      {{link-to "Оплата" 'cart' class='crumbs'}}
    </div>
</div>

<div class="page static">
	<h1>Способы оплаты</h1>
	<div class="paragraph">
		<div class="icon">
		  <img src="/assets/images/card.png" alt="Банковской картой на сайте">
		</div>
		<div class="about">
			<h2>Банковская карта</h2>
			<p>Вы можете оплатить свои покупки банковской картой Visa или MasterCard. Оплата происходит через авторизационный сервер Процессингового центра Банка.</p>
		</div>
	</div>

	<div class="paragraph">
		<div class="icon">
		  <img src="/assets/images/cash2.png" alt="Наличными курьеру">
		</div>
		<div class="about">
			<h2>Наличными курьеру</h2>
			<p>В нашем магазине также доступна оплата наличными курьеру. Мы будем очень признательны, если при получении заказа у вас будет необходимая сумма под расчет.</p>
		</div>
	</div>

	<div class="paragraph">
		<div class="icon">
		  <img src="/assets/images/payment.png" alt="Наложенным платежом">
		</div>
		<div class="about">
			<h2>Наложенный платеж</h2>
			<p>Выбрав в качестве способа оплаты наложенный платеж, вы можете оплатить свой заказ при получении в одном из отделений Почты России.</p>
		</div>
	</div>

	{{link-to "Узнать о способах доставки" 'delivery' class='back'}}

</div>