<div class="check_out">
	<div class="info">
		<h1>Выберите способ оплаты</h1>
		 <div class="introduction choose_type">
      <a href="" class="button">Наличными курьеру</a>
      <a href="" class="button">Банковской картой на сайте</a>
      <a href="" class="button">Наложенный платеж</a>
    </div>
	</div>
</div>