<div class="check_out">
  <div class="info">
	  <h1>Регистрация</h1>
	  <p>Многие люди не любят регистрироваться на сайтах, но поверьте, сделав это однажды в нашем магазине, вы сэкономите много времени, получите доступ в личный кабинет и сможете отслеживать статус и историю ваших заказов.</p>
	  <div class="form">
	    <input type="text" placeholder="Имя">
	    <input type="text" placeholder="Фамилия">
	    <input type="text" placeholder="Email">
	    <input type="text" placeholder="Пароль">
	    <input type="text" placeholder="Подтверждение пароля">
	    <input type="submit" value="Зарегистрироваться">
	  </div>
  </div>
</div>